{% extends "base.html" %}

{% block title %}{{ config.title }}{% endblock %}

{% block body %}
<main class="slide slide-title slide-hero">
  {% if config.extra.logo %}
  <img src="/{{ config.extra.logo }}" alt="Logo" class="cover-logo">
  {% endif %}
  <div class="title-body">
    <h1 class="presentation-title">{{ config.title }}</h1>
    {% if config.extra.presentation_subtitle %}
    <p class="presentation-subtitle">{{ config.extra.presentation_subtitle }}</p>
    {% endif %}
    {% if config.extra.presentation_date %}
    <p class="presentation-date">{{ config.extra.presentation_date }}</p>
    {% endif %}
  </div>
  {{ <slide_nav prev_page={page.lower} next_page={page.higher} /> }}
</main>
{% endblock %}
