{% extends "base.html" %}

{% block title %}{{ page.title }}{% endblock %}

{% block body %}
<main class="slide slide-image-grid">
  {{ <slide_header title={page.title} intro={page.extra.intro | default(value="")} /> }}
  <div class="slide-content image-grid-layout{% if page.extra.image_first | default(value=false) %} image-first{% else %} image-last{% endif %}">
    <div class="image-grid">
      {% for image in page.extra.images %}
      {% if image.src is starting_with(pat="http://") or image.src is starting_with(pat="https://") %}
      <img src="{{ image.src }}" alt="{{ image.alt | default(value='') }}" class="grid-image">
      {% else %}
      <img src="/{{ image.src }}" alt="{{ image.alt | default(value='') }}" class="grid-image">
      {% endif %}
      {% endfor %}
    </div>
    <div class="text-body">
      {{ page.content | safe }}
    </div>
  </div>
  {{ <slide_nav prev_page={page.lower} next_page={page.higher} /> }}
</main>
{% endblock %}
